@use "variables";

.bonus {
    background-color: variables.$bg-black-20;
    width: calc(100vw - 64px);
    position: relative;
    left: 50%;
    margin-left: calc(-50vw + 32px);
    border-radius: 32px;
    text-align: center;

    &__subtitle {
        font-family: "Inter";
        font-size: 18px;
        color: variables.$text-neutral;
    }

    &__wrapper {
        max-width: 1350px;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (max-width: 768px) {
            padding: 48px 32px;
        }
    }

    h2 {
        color: variables.$text-white;
    }

    &__cards {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 20px;
        margin-top: 32px;

        @media (max-width: 1024px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding: 36px 43px;
        background-color: variables.$bg-black-30;
        border-radius: 24px;
        max-width: 400px;
        text-align: center;

        h4 {
            color: variables.$text-white;
        }

        & img {
            max-width: 80px;
            height: auto;
        }

        @media (max-width: 768px) {
            padding: 24px 20px;
            gap: 16px;
        }
    }
}