@use "variables";

.download {
    display: flex;
    align-items: center;
    gap: 40px;

    &__img {
        max-width: 50%;
        order: 1;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 32px;
        order: 0;
    }

    p {
        color: variables.$text-neutral;
        font-family: "Inter";
        max-width: 80%;
    }

    &__buttons {
        display: flex;
        gap: 40px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        text-align: left;
        padding: 0 32px;

        &__img {
            max-width: 100%;
            order: 0;
            text-align: center;

            img {
                max-width: 100%;
            }
        }

        p {
            max-width: 100%;
        }

        &__text {
            gap: 16px;
            text-align: left;
            order: 1;
            
        }

        &__buttons {
            gap: 16px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}