@use "variables";

.features {
    background-color: variables.$bg-white-20;
    width: calc(100vw - 64px);
    position: relative;
    left: 50%;
    margin-left: calc(-50vw + 32px);
    border-radius: 32px;

    &__wrapper {
        max-width: 1350px;
        margin: 0 auto;
        padding: 52px 0;
        display: flex;
        align-items: center;
        gap: 80px;

        @media (max-width: 1024px) {
            gap: 40px;
            flex-wrap: wrap;
        }

        @media (max-width: 768px) {
            flex-direction: column; 
            gap: 24px;
            align-items: center;
            padding: 32px 16px;
        }
    }

    &__img {
        @media (max-width: 768px) {
            max-width: 100%;

            img {
                max-width: 100%;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 32px;

        li, p {
            font-family: "Inter";
            font-size: 18px;
            color: variables.$text-neutral;
            margin: 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            list-style: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                gap: 10px;

                &::before {
                    content: '';
                    display: inline-block;
                    flex-shrink: 0;
                    width: 24px;
                    height: 24px;
                    background-image: url(../assets/check.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                }
            }
        }

        button {
            max-width: 40%;

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
}