@use "variables";

.instruction {
    background-color: variables.$bg-white-20;
    width: calc(100vw - 64px);
    position: relative;
    left: 50%;
    margin-left: calc(-50vw + 32px);
    border-radius: 32px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 1350px;
        margin: 0 auto;
        padding: 100px 0;

        @media (max-width: 1024px) {
            padding: 80px 16px;
        }

        @media (max-width: 768px) {
            padding: 40px 16px;
            gap: 24px;
        }
    }

    p {
        color: variables.$text-neutral;
        font-size: 18px;
        font-family: "Inter";
        margin: 0;
    }

    h2 {
        @media (max-width: 768px) {
            font-size: 32px;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        padding: 32px;
        border-radius: 32px;
        background-color: #fff;
        gap: 80px;

        &.ios { 
            flex-direction: row-reverse; 
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 16px;
            padding: 16px;
            text-align: center;

            & img {
                order: 0; 
                max-width: 100%;
            }

            &.ios {
                flex-direction: column;
            }

            &__text {
                order: 1;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (max-width: 768px) {
            gap: 16px;
            align-items: center;
        }

        button {
            margin-top: 8px;
            max-width: 50%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}