.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 40px;

        p {
            font-family: "Inter";
        }

        button {
            max-width: 40%;
        }
    }

    &__img--men {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 44px;

        p {
            max-width: 56%
        };
    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column-reverse;
        text-align: center;
        gap: 32px;
        padding: 0 32px;
    }

    .main__text {
        align-items: center;
        gap: 24px;
        text-align: left;

        button {
            max-width: 100%;
            width: 100%;
        }
    }

    .main__img {
        img {
            width: 100%;
            height: auto;
        }
    }

    .main__img--men {
        flex-direction: column;
        align-items: start;
        gap: 0;
        margin: 0;

        img {
            max-width: 40%;
        }

        p {
            max-width: 100%;
            margin-top: 16px;
        }
    }
}
