// Text colors
$text-accent: #FF7D34;
$text-neutral: #75767F;
$text-white: #FCFDFE;
$text-black: #191B23;

// BG colors
$bg-black-50: #1A1919;
$bg-black-30: #161412;
$bg-black-20: #120E0B;
$bg-white-30: #FCFDFE;
$bg-white-20: #F3F4F5;
$bg-accent: #FF7D34;
$bg-light-accent: #FDF0EA;
$bg-gray: #C6C6D0;

// Font size
$h1: 64px;
$h2: 52px;
$h3: 36px;
$h4: 24px;

// Line height
$h-height: 130%;
$p-height: 160%;